<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nowcoder.wenda.mapper.CrudMapper">

    <select id="queryByCradNum" resultType="com.nowcoder.wenda.model.TakeUser">
        select * from takeaway_user where sfzh=#{sfzh}
    </select>
    
    <insert id="insertUser" >
        insert into takeaway_user (cxly,cxlx,sfzh,xm,sfyzj,sfczrk,sfzzrk,sfcyjzz,yxbz,create_time)values (#{cxly},#{cxlx},#{sfzh},#{xm},#{sfyzj},#{sfczrk},#{sfzzrk},#{sfcyjzz},#{yxbz},#{create_time})
    </insert>

    <update id="deleteByCard" >
        update  takeaway_user set yxbz=#{yxbz},delete_time=#{delete_time} where sfzh=#{sfzh}
    </update>

</mapper>
