<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nowcoder.wenda.mapper.CrudMapper">

    <select id="queryByCradNum" resultType="com.nowcoder.wenda.model.TakeUser">
        select * from takeaway_user where sfzjhm=#{sfzjhm}
    </select>
    
    <insert id="insertUser" >
        insert into takeaway_user (cph,cxly,cxlx,sfzjhm,xm,sfyzj,sfczrk,sfzzrk,sfcyjzz,yxbz,create_time)values (#{cph},#{cxly},#{cxlx},#{sfzjhm},#{xm},#{sfyzj},#{sfczrk},#{sfzzrk},#{sfcyjzz},#{yxbz},#{create_time})
    </insert>

    <delete id="deleteByCard" >
        delete from usertest where sfzh=#{sfzh}
    </delete>

</mapper>
